---
import Section from '@/components/layout/structure/Section.astro';
import { Icon } from 'astro-icon/components';
import { ICONS } from '@/data/icons';
---

<Section id="contact" subtitle="Vamos Conversar" title="Contato">
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <div class="text-(--white-icon)">
      <p class="mb-4">
        Quer conversar sobre um projeto ou uma ideia? É só entrar em contato.
      </p>
      <span>Baseado em </span>
      <span class="text-text">Brasil (MT)</span>
    </div>

    <div class="relative">
      <form
        id="contact-form"
        action="https://formspree.io/f/xkowbwgn"
        method="POST"
        class="flex flex-col gap-4"
      >
        <input
          type="text"
          name="from_name"
          placeholder="Nome"
          required
          class="text-text focus:ring-primary rounded-lg border border-(--white-icon-tr) bg-(--input-bg) px-4 py-2 focus:ring-2 focus:outline-none"
        />

        <input
          type="text"
          name="reply_to"
          placeholder="Telefone"
          required
          class="text-text focus:ring-primary rounded-lg border border-(--white-icon-tr) bg-(--input-bg) px-4 py-2 focus:ring-2 focus:outline-none"
        />

        <textarea
          name="message"
          placeholder="Mensagem"
          rows="6"
          required
          class="text-text focus:ring-primary resize-none rounded-lg border border-(--white-icon-tr) bg-(--input-bg) px-4 py-2 focus:ring-2 focus:outline-none"
        ></textarea>

        <button
          type="submit"
          id="submit-button"
          class="text-text rounded-lg border border-(--white-icon-tr) bg-(--white-icon-tr) px-4 py-2 opacity-60 transition-opacity hover:opacity-100 disabled:cursor-not-allowed disabled:opacity-40"
        >
          Enviar Mensagem
        </button>
      </form>

      <!-- Success State -->
      <div
        id="success-state"
        class="flex hidden flex-col items-center justify-center rounded-xl border border-(--white-icon-tr) bg-(--input-bg) px-6 py-16 text-center"
      >
        <div
          class="bg-card text-primary mb-4 rounded-full border border-(--white-icon-tr) p-3 text-center"
        >
          <Icon name={ICONS.ui.Check} class="size-5" />
        </div>

        <h4 class="text-lg font-semibold">Mensagem Enviada</h4>

        <p class="mb-8 text-sm text-(--white-icon)">
          Obrigado pelo contato! Retornarei assim que possível.
        </p>

        <button
          id="back-to-form"
          type="button"
          class="border-primary bg-primary w-full rounded-lg border px-4 py-2 text-white transition-opacity hover:opacity-90"
        >
          Voltar ao Formulário
        </button>
      </div>
    </div>
  </div>
</Section>

<script>
  import { initContactForm } from '@/scripts/contact-form';
  initContactForm();
</script>
