---
import PageHead from '@/components/layout/PageHead.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <PageHead slot="head" title="404" />

  <div class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-primary text-base font-medium">404</p>
      <h1
        class="mt-4 text-3xl font-medium tracking-tight text-balance sm:text-5xl"
      >
        Página não encontrada
      </h1>
      <p class="mt-6 text-lg text-pretty text-(--white-icon) sm:text-xl/8">
        Desculpe, não conseguimos encontrar a página que você está procurando.
      </p>
    </div>
  </div>
</Layout>
