<section
  id="manifest"
  class="flex h-fit min-h-screen w-full items-center border-t border-[#ffffff10] py-12"
>
  <div class="mx-auto max-w-5xl">
    <h2 class="shiny-sec mb-2 text-lg">Manifesto</h2>
    <h3 class="mb-6 text-4xl font-medium md:text-5xl">
      Menos ruído. Mais intenção.
    </h3>

    <p class="leading-relaxed text-(--white-icon)">
      Com o tempo, ficou claro que <span class="text-text">aplicações web</span> não
      servem apenas para conectar pessoas a <span class="text-text"
        >produtos digitais</span
      >. Elas comunicam, de forma silenciosa, o <span class="text-text"
        >cuidado</span
      >, a <span class="text-text">organização</span> e a <span
        class="text-text">maturidade</span
      >
      de uma empresa. Essa percepção surge na <span class="text-text"
        >clareza</span
      > da interface, na
      <span class="text-text">fluidez</span> dos fluxos e na ausência de
      <span class="text-text">fricções</span> desnecessárias. Quando essas decisões
      são bem conduzidas, o produto se posiciona com
      <span class="text-text">solidez</span> e transmite <span class="text-text"
        >confiança</span
      > antes mesmo de qualquer explicação.
    </p>
  </div>
</section>
