---
import { ICON_MAP } from '@/data/consts';
import { cn } from '@/lib/utils';
import type { SocialLink } from '@/types';
import { Icon } from 'astro-icon/components';

interface Props {
  links: SocialLink[];
  class?: string;
}

const { links, class: className } = Astro.props;
---

<ul class="flex space-x-6 sm:space-x-8" role="list">
  {
    links.map(({ href, label }) => (
      <li>
        <a
          href={href}
          aria-label={label}
          title={label}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon
            name={
              ICON_MAP[label as keyof typeof ICON_MAP] ||
              'lucide:message-circle-question'
            }
            class={cn(
              'hover:text-text size-4 text-(--white-icon) transition duration-300 ease-in-out',
              className,
            )}
          />
        </a>
      </li>
    ))
  }
</ul>
