---
import { cn } from '@/lib/utils';

interface Props {
  id: string;
  subtitle?: string;
  title?: string;
  sectionClass?: string;
  containerClass?: string;
}

const {
  id,
  subtitle,
  title,
  sectionClass,
  containerClass,
} = Astro.props;
---

<section
  id={id}
  class={cn('border-t border-border-subtle py-12', sectionClass)}
>
  <div class={cn('mx-auto max-w-5xl', containerClass)}>
    {subtitle && (
      <h2 class="shiny-sec mb-2 text-lg">{subtitle}</h2>
    )}
    {title && (
      <h3 class="mb-6 text-4xl font-medium md:text-5xl">
        {title}
      </h3>
    )}
    <slot />
  </div>
</section>
